#overlay {
    inset: 0;
    opacity: 0;
    color: black;
}


#imgDisplay:hover #overlay {
    opacity: 1;
    color: black;
    background-color: blue;
    
}

.specialBtn {
    background: white;
    box-shadow: 0px 2px 2px 2px #bb20d6;
    transition: 200ms;
}