#overlay {
    inset: 0;
    opacity: 0;
    color: black;
}


#imgDisplay:hover #overlay {
    opacity: 1;
    color: black;
    background-color: blue;
    
}

.specialBtn {
    background: white;
    box-shadow: 0px 6px 5px rgba(128,0,128,0.6);
    transition: 200ms;
}